/*************Mixin******************/
@mixin main_block-info{
  div{
    padding: 15px;
  }
  h4{
    line-height: 50px;
    max-width: 100%;
    color: white;
    font-size: 1.2em;
    padding-left: 15px;
    background-image: linear-gradient(90deg, #45B39D 35%, rgba(236, 240, 241, 0) 90%);
  }

}
@mixin main_block-ren{
  line-height: 50px;
  max-width: 100%;
  color: white;
  font-size: 1.2em;
  padding-left: 15px;
  background-image: linear-gradient(90deg, #45B39D 25%, rgba(236, 240, 241, 0) 95%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  margin: 0 auto;
  font-family: 'Yaldevi', sans-serif;
}

/*******************************Header**********************************************/
.header {
  max-width: 100%;
  min-height: 100px;
  margin: auto;
  border-bottom: 10px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: white;
  padding: 50px 0 10px 350px;
  background-image: linear-gradient(90deg, #45B39D 80%, rgba(171, 235, 198 , 0.9) 80%);
}

/*******************************************Main*****************************************************/

.main{
  margin: 20px auto;
  max-width: 90%;

}

.main__information{
  display: grid;
  grid-template-columns: 1fr 1fr;


  .main__information-owner {
    @include main_block-info

  }
  .main__information-renter {
    @include main_block-info
  }
}
.main__equipment{

  h4{
    @include main_block-ren
  }
  .main__equipment-table{
    display: grid;
    text-align: center;
    margin: auto;



    table {
      margin-top: 5px;
      border: 2px solid #EAEDED;
      border-collapse: collapse;
      width: 100%;
      height: 300px;
      border-radius: 5px;

      th {
        background: #F4F6F6;
        line-height: 40px;

      }

      th:first-child {
        border-right: 1px solid #EAEDED;
      }

      td:first-child {
        border-right: 1px solid #EAEDED;
      }
    }
    .main__equipment-table-total{
      display: grid;
      grid-template-columns: 3fr 3fr;
    }
  }
  .main__rental-information{
    margin-top: 15px;
    h4{
      @include main_block-ren
    }
    .main__rental-information-tab{
      display: grid;
      grid-template-columns: 1fr 1fr;
      div{
        padding-top: 15px;
      }
    }
  }
}
/****************************************FOOTER*******************************************/
.footer{
  margin:  auto;
  padding-top: 50px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;


  .footer__create{
       font-size: 0.9em;
       color: gray;
     }
  .footer__number{
    font-size: 0.8em;
    padding-left: 600px;
  }
}

